* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1000px;
  margin: auto;
}

header {
  z-index: 2;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.5s ease-in-out;
  height: 8vh;
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content ul {
  display: flex;
  list-style-type: none;
}

header .content ul li {
  cursor: pointer;
  margin-left: 20px;
  transition: all 0.2s ease;
}

header .content ul li:hover {
  transform: scale(1.05) translateY(-3px);
  color: rgba(0, 0, 0, 0.6);
}

header .logo {
  font-weight: bolder;
}

main {
  margin-top: 8vh;
}

.title-box {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box span {
  color: #050505;
}

.title-box small {
  color: #626161;
}

.cover img {
  width: 100%;
  margin: 10px 0;
}

p {
  color: #777777;
}

.cover .caption {
  color: #777777;
}

.cover .dots {
  width: fit-content;
  color: black;
  font-size: 50px;
  position: relative;
  left: 50%;
  display: flex;
  margin: 50px 0;
}

.cover h4 {
  margin-top: 40px;
  margin-bottom: 5px;
}

footer {
  margin: 30px 0;
}

.socialmedia img {
  height: 20px;
  width: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
}

footer .rights {
  color: #050505;
}

.home-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: photo 7s linear infinite;
}
.login-page {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.login-page input {
  padding: 10px;
  border: none;
  background-color: #eee;
  border-radius: 10px;
  outline: none;
}

.login-page button {
  border: none;
  background-color: #fce00d;
  color: white;
  padding: 10px 20px;
  width: 100%;
  border-radius: 10px;
  outline: none;
}
@keyframes photo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.home-cover {
  overflow: hidden;
  height: 500px;
  position: relative;
}
.home-cover .container {
  width: 1000px;
}

.home-cover .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgb(1, 0, 14);
  background: radial-gradient(
    circle,
    rgba(1, 0, 14, 0.13209033613445376) 0%,
    rgba(0, 0, 0, 0.6054796918767507) 95%
  );
  display: flex;
}

.home-cover .overlay h1 {
  font-size: 45px;
  color: #fce00d;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(18px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home-cover .overlay p {
  font-size: 28px;
  color: white;
  animation: slide 1s ease;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.blog-list {
  transform: translateY(0px);
}
.blog-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-top: -100px !important;
}

.blog-items .img {
  height: fit-content;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transition: transform 0.2s ease-in-out;
}
.blog-items img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.blog-items .img:hover {
  transform: scale(1.02);
}

.blog-items .img .card-text {
  margin: 5px 10px 10px 10px;
}

.blog-items .img .link {
  display: flex;
  justify-content: space-between;
}

.blog-items .img small {
  color: #626161;
  display: block;
  margin: 5px 0 30px 0;
  font-weight: 400;
}

.blog-items .img .link span {
  color: #626161;
  margin-right: 10px;
  font-size: 14px;
}

@media screen and (max-width: 1024px) {
  .blog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    margin-top: -100px !important;
  }
  .blog-items .img {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }
  .overlay .container {
    margin-left: 30px;
  }

  footer .content {
    padding: 0 20px;
  }
  .container {
    padding: 0 20px 0 20px;
  }
}

@media screen and (max-width: 580px) {
  .blog-items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog-items .img {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
  }
  .overlay .container {
    margin-left: 30px;
  }
  #nav .content {
    padding: 0 20px;
  }
  footer .content {
    padding: 0 20px;
  }
}
